<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h4 class="display-1 text-uppercase text-white mb-4">Búsqueda de mascotas</h4>
                <h1 class="font-secondary text-primary mb-4">Ingrese su filtro</h1>
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                    <div class="container">
                      <form [formGroup]="filterForm" (ngSubmit)="submit()">
                        <div class="row" formArrayName="filters">
                          <div *ngFor="let filter of filters.controls; let i=index" [formGroupName]="i" class="col-3 mb-3">
                            <select formControlName="field" class="form-select mb-2">
                              <option value="raza">Raza</option>
                              <option value="edad">Edad</option>
                              <option value="estado">Estado</option>
                              <option value="clasificacion">Clasificación</option>
                            </select>
                      
                            <select formControlName="operator" class="form-select mb-2" *ngIf="filter.value.field === 'edad'">
                              <option value="=">Igual</option>
                              <option value=">">Mayor que</option>
                              <option value="<">Menor que</option>
                              <option value=">=">Mayor o igual que</option>
                              <option value="<=">Menor o igual que</option>
                            </select>
                      
                            <input class="form-control mb-2" formControlName="value" *ngIf="filter.value.field !== 'estado' && filter.value.field !== 'clasificacion'"/>
                      
                            <select class="form-select mb-2" formControlName="value" *ngIf="filter.value.field === 'estado'">
                              <option value="Adoptado">Adoptado</option>
                              <option value="Disponible">Disponible</option>
                            </select>
                      
                            <select class="form-select mb-2" formControlName="value" *ngIf="filter.value.field === 'clasificacion'">
                              <option value="Perro">Perro</option>
                              <option value="Gato">Gato</option>
                            </select>
                      
                            <div class="d-flex justify-content-between">
                              <button type="button" class="btn btn-primary me-2" (click)="addFilter()">+</button>
                              <button type="button" class="btn btn-danger" (click)="removeFilter(i)" *ngIf="filters.length > 1">-</button>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex justify-content-end">
                          <button type="submit" class="btn btn-success">Filtrar</button>
                        </div>
                      </form>
                      
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
<div class="container-fluid about py-5" *ngIf="pets && pets.length > 0">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Resultados de la búsqueda:</h2>
            <h1 class="display-4 text-uppercase">De Mascotas</h1>
        </div>
        <div class="tab-class text-center">
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-3">
                        <div class="col-md-3" *ngFor="let mascota of pets">
                          <div class="card">
                            <img [src]="photoEndpoint+mascota.Codigo_Mascota" class="card-img-top" [alt]="'Foto de ' + mascota.Nombre_Mascota">
                            <div class="card-body">
                                <h5 class="card-title">{{ mascota.Nombre_Mascota }}</h5>
                                <p class="card-text"><strong>Raza:</strong> {{ mascota.Raza }}</p>
                                <p class="card-text"><strong>Edad:</strong> {{ mascota.Edad }}</p>
                                <p class="card-text"><strong>Estado:</strong> {{ mascota.Estado }}</p>
                                <p class="card-text"><strong>Información:</strong> {{ mascota.Informacion }}</p>
                                <p class="card-text"><strong>Comentarios:</strong> {{ mascota.Comentarios }}</p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="container-fluid about py-5" *ngIf="filterForm.touched && filterForm.dirty && pets && pets.length == 0">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Resultados de la búsqueda:</h2>
            <h1 class="display-4 text-uppercase">No se encontraron mascotas con esos filtros</h1>
        </div>
    </div>
  </div> 