<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h4 class="display-1 text-uppercase text-white mb-4">Encuentra un tierno compañero</h4>
                <h1 class="font-secondary text-primary mb-4">Adopta un lindo amigo, no compres.</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="my-5">Mascotas Disponibles para Adopción</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let mascota of mascotas">
            <div class="card">
                <img [src]="photoEndpoint+mascota.Codigo_Mascota" class="card-img-top" [alt]="'Foto de ' + mascota.Nombre_Mascota">
                <div class="card-body">
                    <h5 class="card-title">{{ mascota.Nombre_Mascota }}</h5>
                    <p class="card-text"><strong>Raza:</strong> {{ mascota.Raza }}</p>
                    <p class="card-text"><strong>Edad:</strong> {{ mascota.Edad }}</p>
                    <p class="card-text"><strong>Estado:</strong> {{ mascota.Estado }}</p>
                    <p class="card-text"><strong>Información:</strong> {{ mascota.Informacion }}</p>
                    <p class="card-text"><strong>Comentarios:</strong> {{ mascota.Comentarios }}</p>
                    <button *ngIf="auth.isAuthenticated() && mascota.Estado === 'Disponible'" class="btn btn-primary me-2" (click)="adoption(mascota)">
                        <i class="fas fa-paw"></i> Adoptar
                    </button>
                    <button *ngIf="auth.isAuthenticated()" class="btn btn-outline-danger favorite-btn" (click)="toggleFavorite(mascota)">
                        <i class="fas" [ngClass]="{'fa-star': mascota.isFavorite, 'fa-star-half-alt': !mascota.isFavorite}"></i>
                        {{mascota.isFavorite ? 'Quitar de Favoritos' : 'Agregar a Favoritos'}}
                      </button>
                      <button *ngIf="!auth.isAuthenticated()" class="btn btn-primary" >
                        Iniciar Sesión
                      </button>                 
                    <a routerLink="/auth/login" *ngIf="!auth.isAuthenticated()" class="btn btn-primary me-2">Acceder para adoptar</a>
                </div>
            </div>
        </div>
    </div>
</div>


  
