<div class="container-fluid bg-primary py-5 mb-5 hero-header">
  <div class="container py-5">
      <div class="row justify-content-start">
          <div class="col-lg-8 text-center text-lg-start">
              <h1 class="font-secondary text-primary mb-4">¿Estás buscando una adorable compañía?</h1>
              <h1 class="display-1 text-uppercase text-white mb-4">ESTÁS EN EL LUGAR</h1>
              <h1 class="text-uppercase text-white">Donde encuentras compañías tiernas</h1>
              <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                  <a href="" class="btn btn-primary border-inner py-3 px-5 me-5">Leer Más</a>
                  <button type="button" class="btn-play" data-bs-toggle="modal"
                      data-src="https://www.youtube.com/watch?v=ahn39A6ITwg" data-bs-target="#videoModal">
                      <span></span>
                  </button>
                  <h5 class="font-weight-normal text-white m-0 ms-4 d-none d-sm-block">Reproducir vídeo</h5>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Hero End -->


<!-- Video Modal Start -->
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content rounded-0">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <!-- 16:9 aspect ratio -->
              <div class="ratio ratio-16x9">
                  <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                      allow="autoplay"></iframe>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Video Modal End -->


<!-- About Start -->
<div class="container-fluid pt-5">
  <div class="container">
      <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
          <h2 class="text-primary font-secondary">¿Quiénes somos?</h2>
          <h1 class="display-4 text-uppercase">Bienestar animal</h1>
      </div>
      <div class="row gx-5">
          <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 400px;">
              <div class="position-relative h-100">
                  <img class="position-absolute w-100 h-100" src="../../../../assets/img/about.jpg" style="object-fit: cover;">
              </div>
          </div>
          <div class="col-lg-6 pb-5">
              <h4 class="mb-4">Queremos ver el bien en todos los animales</h4>
              <p class="mb-5">La organización se compromete fervientemente con la promoción de la adopción responsable de animales, abogando por la premisa de "adoptar, no comprar". Su misión se centra en fomentar la conciencia pública sobre la importancia de brindar hogar a animales que han sido abandonados, rescatados o que se encuentran en situación de vulnerabilidad.</p>
              <div class="row g-5">
                  <div class="col-sm-6">
                      <div class="d-flex align-items-center justify-content-center bg-primary border-inner mb-4" style="width: 90px; height: 90px;">
                          <i class="fa fa-heartbeat fa-2x text-white"></i>
                      </div>
                      <h4 class="text-uppercase">100% Felicidad</h4>
                      <p class="mb-0">Nuestras combinaciones de sabores dan vida y alegran tu paladar.</p>
                  </div>
                  <div class="col-sm-6">
                      <div class="d-flex align-items-center justify-content-center bg-primary border-inner mb-4" style="width: 90px; height: 90px;">
                          <i class="fa fa-award fa-2x text-white"></i>
                      </div>
                      <h4 class="text-uppercase">Reconocimientos</h4>
                      <p class="mb-0">Ganador del premio Pastel del año en los Cake Awords 2023</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- About End -->


<!-- Facts Start -->
<div class="container-fluid bg-img py-5 mb-5">
  <div class="container py-5">
      <div class="row gx-5 gy-4">
          <div class="col-lg-3 col-md-6">
              <div class="d-flex">
                  <div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                      <i class="fa fa-star text-white"></i>
                  </div>
                  <div class="ps-4">
                      <h6 class="text-primary text-uppercase">Our Experience</h6>
                      <h1 class="display-5 text-white mb-0" data-toggle="counter-up">12345</h1>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="d-flex">
                  <div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                      <i class="fa fa-users text-white"></i>
                  </div>
                  <div class="ps-4">
                      <h6 class="text-primary text-uppercase">Cake Specialist</h6>
                      <h1 class="display-5 text-white mb-0" data-toggle="counter-up">12345</h1>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="d-flex">
                  <div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                      <i class="fa fa-check text-white"></i>
                  </div>
                  <div class="ps-4">
                      <h6 class="text-primary text-uppercase">Complete Project</h6>
                      <h1 class="display-5 text-white mb-0" data-toggle="counter-up">12345</h1>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="d-flex">
                  <div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                      <i class="fa fa-mug-hot text-white"></i>
                  </div>
                  <div class="ps-4">
                      <h6 class="text-primary text-uppercase">Happy Clients</h6>
                      <h1 class="display-5 text-white mb-0" data-toggle="counter-up">12345</h1>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Facts End -->


<!-- Products Start -->
<div class="container-fluid about py-5">
  <div class="container">
      <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
          <h2 class="text-primary font-secondary">Conoce a tu nuevo amigo</h2>
          <h1 class="display-4 text-uppercase">Explora nuestras mascotas disponibles para adopción</h1>
      </div>
      <div class="tab-class text-center">
          <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase border-inner p-4 mb-5">
              <li class="nav-item">
                  <a class="nav-link text-white active" data-bs-toggle="pill" href="#tab-1">Perros</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" data-bs-toggle="pill" href="#tab-2">Gatos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" data-bs-toggle="pill" href="#tab-3">Otros</a>
              </li>
          </ul>
          <div class="tab-content">
              <div id="tab-1" class="tab-pane fade show p-0 active">
                  <div class="row g-3">
                      <div class="col-lg-6">
                          <div class="d-flex h-100">
                              <div class="flex-shrink-0">
                                  <img class="img-fluid" src="../../../../assets/img/cake-1.jpg" alt="" style="width: 150px; height: 85px;">
                                  <h4 class="bg-dark text-primary p-2 m-0">$25.00</h4>
                              </div>
                              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                  <h5 class="text-uppercase">Tres Leches</h5>
                                  <span>Delicioso pastel de tres leches cubierto de chocolate blaco con nombre y diseño personalizado</span>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="d-flex h-100">
                              <div class="flex-shrink-0">
                                  <img class="img-fluid" src="../../../../assets/img/cake-2.jpg" alt="" style="width: 150px; height: 85px;">
                                  <h4 class="bg-dark text-primary p-2 m-0">$50.00</h4>
                              </div>
                              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                  <h5 class="text-uppercase">Rustico</h5>
                                  <span>Pastel con relleno de manzanilla y caramelo una perfecta combinacion</span>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="d-flex h-100">
                              <div class="flex-shrink-0">
                                  <img class="img-fluid" src="../../../../assets/img/cake-3.jpg" alt="" style="width: 150px; height: 85px;">
                                  <h4 class="bg-dark text-primary p-2 m-0">$50.00</h4>
                              </div>
                              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                  <h5 class="text-uppercase">ChocoWOW</h5>
                                  <span>Delicioso pastel de chocolate cubierto de un glcaiar mítico</span>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="d-flex h-100">
                              <div class="flex-shrink-0">
                                  <img class="img-fluid" src="../../../../assets/img/Birth4.jpg" alt="" style="width: 150px; height: 85px;">
                                  <h4 class="bg-dark text-primary p-2 m-0">$28.00</h4>
                              </div>
                              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                  <h5 class="text-uppercase">Fresa</h5>
                                  <span>Una perfecta combiancion entre el sabor y la fresa.</span>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="d-flex h-100">
                              <div class="flex-shrink-0">
                                  <img class="img-fluid" src="../../../../assets/img/Birth5.jpeg" alt="" style="width: 150px; height: 85px;">
                                  <h4 class="bg-dark text-primary p-2 m-0">$26.00</h4>
                              </div>
                              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                  <h5 class="text-uppercase">Arcoiris</h5>
                                  <span>Pastel con letras sobresaliente con sabores extrabagantes</span>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="d-flex h-100">
                              <div class="flex-shrink-0">
                                  <img class="img-fluid" src="../../../../assets/img/tarta-de-cumpleaños-8.jpg" alt="" style="width: 150px; height: 85px;">
                                  <h4 class="bg-dark text-primary p-2 m-0">$52.00</h4>
                              </div>
                              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                  <h5 class="text-uppercase">Bulla</h5>
                                  <span>Pastel de caramelo cubierto de dulces y mentas</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div id="tab-2" class="tab-pane fade show p-0">
                  <div class="row g-3">
                      <div class="col-lg-6">
                          <div class="d-flex h-100">
                              <div class="flex-shrink-0">
                                  <img class="img-fluid" src="../../../../assets/img/boda1.jpeg" alt="" style="width: 150px; height: 85px;">
                                  <h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
                              </div>
                              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                  <h5 class="text-uppercase">Elegant</h5>
                                  <span>Un toque de sabores calidos acordes a ambiente calido ideal para bodas al aire libre</span>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="d-flex h-100">
                              <div class="flex-shrink-0">
                                  <img class="img-fluid" src="../../../../assets/img/boda2.jpg" alt="" style="width: 150px; height: 85px;">
                                  <h4 class="bg-dark text-primary p-2 m-0">$80.00</h4>
                              </div>
                              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                  <h5 class="text-uppercase">RosaPastel</h5>
                                  <span>Un diseño simple pero esquisito ideal para bodas grandes</span>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="d-flex h-100">
                              <div class="flex-shrink-0">
                                  <img class="img-fluid" src="../../../../assets/img/boda3.jpg" alt="" style="width: 150px; height: 85px;">
                                  <h4 class="bg-dark text-primary p-2 m-0">$75.00</h4>
                              </div>
                              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                  <h5 class="text-uppercase">Flor dulce</h5>
                                  <span>Pastel con diseño convencional unico en la region sur debido a su sabor</span>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="d-flex h-100">
                              <div class="flex-shrink-0">
                                  <img class="img-fluid" src="../../../../assets/img/boda4.png" alt="" style="width: 150px; height: 85px;">
                                  <h4 class="bg-dark text-primary p-2 m-0">$58.00</h4>
                              </div>
                              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                  <h5 class="text-uppercase">Naranja</h5>
                                  <span>Pastel hecho con ingredientes tropicales frescos</span>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="d-flex h-100">
                              <div class="flex-shrink-0">
                                  <img class="img-fluid" src="../../../../assets/img/boda5.png" alt="" style="width: 150px; height: 85px;">
                                  <h4 class="bg-dark text-primary p-2 m-0">$69.00</h4>
                              </div>
                              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                  <h5 class="text-uppercase">Naranja Yogurt</h5>
                                  <span>Patel tradicional con relleno de pulpa de naranja dulce</span>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="d-flex h-100">
                              <div class="flex-shrink-0">
                                  <img class="img-fluid" src="../../../../assets/img/boda6.jpg" alt="" style="width: 150px; height: 85px;">
                                  <h4 class="bg-dark text-primary p-2 m-0">$80.00</h4>
                              </div>
                              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                  <h5 class="text-uppercase">ORo</h5>
                                  <span>Ideal para bodas con un estilo fresco y libre</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div id="tab-3" class="tab-pane fade show p-0">
                  <div class="row g-3">
                      <div class="col-lg-6">
                          <div class="d-flex h-100">
                              <div class="flex-shrink-0">
                                  <img class="img-fluid" src="../../../../assets/img/Rustic1.jpg" alt="" style="width: 150px; height: 85px;">
                                  <h4 class="bg-dark text-primary p-2 m-0">$60.00</h4>
                              </div>
                              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                  <h5 class="text-uppercase">Melocoton</h5>
                                  <span>esquisito pastel cubierto con un delicioso chocolate tradicional de chivarabal. </span>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="d-flex h-100">
                              <div class="flex-shrink-0">
                                  <img class="img-fluid" src="../../../../assets/img/rustic2.jpg" alt="" style="width: 150px; height: 85px;">
                                  <h4 class="bg-dark text-primary p-2 m-0">$75.00</h4>
                              </div>
                              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                  <h5 class="text-uppercase">Vainilla</h5>
                                  <span>Delicioso pastel de vainilla con diferentes ingredientes del frio de Tecpán</span>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="d-flex h-100">
                              <div class="flex-shrink-0">
                                  <img class="img-fluid" src="../../../../assets/img/rustic3.jpg" alt="" style="width: 150px; height: 85px;">
                                  <h4 class="bg-dark text-primary p-2 m-0">$55.00</h4>
                              </div>
                              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                  <h5 class="text-uppercase">Blanco</h5>
                                  <span>esquisito sabor de 3 leches con un toque de las afueras de xetonox en Tecpán</span>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="d-flex h-100">
                              <div class="flex-shrink-0">
                                  <img class="img-fluid" src="../../../../assets/img/rustic4.jpg" alt="" style="width: 150px; height: 85px;">
                                  <h4 class="bg-dark text-primary p-2 m-0">$80.00</h4>
                              </div>
                              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                  <h5 class="text-uppercase">Coffe</h5>
                                  <span>Pastel de cafe con un toque artesanal de nuestro querido Mixco, tierra de boxeadores.</span>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="d-flex h-100">
                              <div class="flex-shrink-0">
                                  <img class="img-fluid" src="../../../../assets/img/rustic5.jpg" alt="" style="width: 150px; height: 85px;">
                                  <h4 class="bg-dark text-primary p-2 m-0">$25.00</h4>
                              </div>
                              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                  <h5 class="text-uppercase">Frambuesa</h5>
                                  <span>Pastel cubierto con jalea artesanal hecha con un toque magistral de nuestros artesanos tecpanecos</span>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="d-flex h-100">
                              <div class="flex-shrink-0">
                                  <img class="img-fluid" src="../../../../assets/img/rustic6.jpg" alt="" style="width: 150px; height: 85px;">
                                  <h4 class="bg-dark text-primary p-2 m-0">$80.00</h4>
                              </div>
                              <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                  <h5 class="text-uppercase">Frambuesa</h5>
                                  <span>Pastel con toque hogareño al estilo suizo.</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Products End -->


<!-- Service Start -->
<div class="container-fluid service position-relative px-5 mt-5" style="margin-bottom: 135px;">
  <div class="container">
      <div class="row g-5">
          <div class="col-lg-4 col-md-6">
              <div class="bg-primary border-inner text-center text-white p-5">
                  <h4 class="text-uppercase mb-3">Pastel de cumpleaños</h4>
                  <p>Pasteles personalizados de distintos personajes ficticios para el gusto de todos los clientes.</p>
                  <a class="text-uppercase text-dark" href="">Leer mas <i class="bi bi-arrow-right"></i></a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="bg-primary border-inner text-center text-white p-5">
                  <h4 class="text-uppercase mb-3">Pastel de Boda</h4>
                  <p>Pasteles decorados para cualquier tipo de boda y vayan relacionados con la tematica de cada pareja.</p>
                  <a class="text-uppercase text-dark" href="">Leer mas <i class="bi bi-arrow-right"></i></a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="bg-primary border-inner text-center text-white p-5">
                  <h4 class="text-uppercase mb-3">Pasteles personalizados</h4>
                  <p>Pasteles creados a gusto de cada imaginacion de nuestros diferentes clientes.</p>
                  <a class="text-uppercase text-dark" href="">Leer mas <i class="bi bi-arrow-right"></i></a>
              </div>
          </div>
          <div class="col-lg-12 col-md-6 text-center">
              <h1 class="text-uppercase text-light mb-4">25% Diferentes descuentos de temporada</h1>
              <a href="" class="btn btn-primary border-inner py-3 px-5">Ordenar ahora</a>
          </div>
      </div>
  </div>
</div>
<!-- Service Start -->


<!-- Team Start -->
<div class="container-fluid py-5">
  <div class="container">
      <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
          <h2 class="text-primary font-secondary">Nuestro equipo</h2>
          <h1 class="display-4 text-uppercase">Los mejores cuidadores de mascotas</h1>
      </div>
      <div class="row g-5">
          <div class="col-lg-4 col-md-6">
              <div class="team-item">
                  <div class="position-relative overflow-hidden">
                      <img class="img-fluid w-100" src="../../../../assets/img/team-1.jpg" alt="">
                      <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                          <div class="d-flex align-items-center justify-content-start">
                              <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                              <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                              <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="bg-dark border-inner text-center p-4">
                      <h4 class="text-uppercase text-primary">Dylan Batzín</h4>
                      <p class="text-white m-0">Domador de perros</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="team-item">
                  <div class="position-relative overflow-hidden">
                      <img class="img-fluid w-100" src="../../../../assets/img/team-2.jpg" alt="">
                      <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                          <div class="d-flex align-items-center justify-content-start">
                              <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                              <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                              <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="bg-dark border-inner text-center p-4">
                      <h4 class="text-uppercase text-primary">Jónas Rangel Tomas</h4>
                      <p class="text-white m-0">Jefe de pasteleros</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="team-item">
                  <div class="position-relative overflow-hidden">
                      <img class="img-fluid w-100" src="../../../../assets/img/team-3.jpg" alt="">
                      <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                          <div class="d-flex align-items-center justify-content-start">
                              <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                              <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                              <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="bg-dark border-inner text-center p-4">
                      <h4 class="text-uppercase text-primary">Mónica Buejemplo</h4>
                      <p class="text-white m-0">Pastelera profesional</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Team End -->


<a href="#" class="btn btn-primary border-inner py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>
