<div class="container-fluid bg-primary py-5 mb-5 hero-header">

  <div class="container py-5">
      <div class="row justify-content-start">
          <div class="col-lg-8 text-center text-lg-start">
              <h1 class="font-secondary text-primary mb-4">¿Estás buscando una adorable compañía?</h1>
              <h1 class="display-1 text-uppercase text-white mb-4">ESTÁS EN EL LUGAR CORRECTO</h1>
              <h2 class="text-uppercase text-white">Donde Puedes Encontrar Tu Proxima Compañía Tierna</h2>
              <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                  <a href="" class="btn btn-primary border-inner py-3 px-5 me-5">Leer Más</a>
                  <button type="button" class="btn-play" data-bs-toggle="modal"
                      data-src="https://www.youtube.com/watch?v=ahn39A6ITwg" data-bs-target="#videoModal">
                      <span></span>
                  </button>
                  <h5 class="font-weight-normal text-white m-0 ms-4 d-none d-sm-block">Reproducir vídeo</h5>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Hero End -->


<!-- Video Modal Start -->
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content rounded-0">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <!-- 16:9 aspect ratio -->
              <div class="ratio ratio-16x9">
                  <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                      allow="autoplay"></iframe>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Video Modal End -->


<!-- About Start -->
<div class="container-fluid pt-5">
  <div class="container">
      <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
          <h2 class="text-primary font-secondary">¿Quiénes somos?</h2>
          <p class="justify-content-center">"Somos una organización comprometida con el bienestar de las mascotas callejeras. Nuestra misión es proporcionar un hogar amoroso a los animales sin hogar y trabajar incansablemente para mejorar su calidad de vida. A través de nuestra plataforma en línea, facilitamos la adopción de mascotas, conectando a estos animales con personas que desean abrir sus corazones y hogares a un nuevo miembro de la familia.</p>
          
          <h1 class="display-4 text-uppercase">Bienestar animal</h1>
      </div>
      <div class="row gx-5">
          <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
              <div class="position-relative h-100">
                  <!--<img class="position-absolute w-100 h-100" src="../../../../assets/img/about.jpg" style="object-fit: cover;"> -->
                  <img src="../assets/img/about.jpg" alt="cargando" width="400" height="500">
              </div>
          </div>
          <div class="col-lg-6 pb-5">
              <h2 class="text-primary font-secondary">Queremos ver el bien en todos los animales</h2>
              <p class="mb-5">La organización se compromete fervientemente con la promoción de la adopción responsable de animales, abogando por la premisa de "adoptar, no comprar". Su misión se centra en fomentar la conciencia pública sobre la importancia de brindar hogar a animales que han sido abandonados, rescatados o que se encuentran en situación de vulnerabilidad.</p>
              <div class="row g-5">
                  <div class="col-sm-6">
                    <img src="../assets/img/perro y gato.jpg" width="400" height="300" />
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- About End -->


<!-- Products Start -->
<div class="container-fluid about py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h1 class="text-primary font-secondary">Conoce a tu nuevo amigo</h1>
            <h2 class="display-4 text-uppercase">Explora nuestras mascotas disponibles para adopción</h2>
        </div>
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase border-inner p-4 mb-5">
                <li class="nav-item">
                    <a class="nav-link text-white active" data-bs-toggle="pill" href="#tab-1">Perros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" data-bs-toggle="pill" href="#tab-2">Gatos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" data-bs-toggle="pill" href="#tab-3">Otros</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <p>Explora el catálogo de los Perros disponibles que buscan hogar</p>
                    <img src="../assets/img/cachorro.jpg" alt="cargando" width="150" height="150">
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <!-- Aquí se puede agregar contenido adicional si es necesario -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                    <p>Explora el catálogo de los Gatos disponibles que buscan hogar</p>
                    <img src="../assets/img/gatitos.jpg" alt="." width="150" height="150">
                </div>
                <div id="tab-3" class="tab-pane fade show p-0">
                    <p>Explora el catálogo de otras mascotas disponibles que buscan hogar</p>
                    <img src="../assets/img/pajero.jpg" alt="." width="150" height="150">
                </div>
            </div>
        </div>
    </div>
</div>
        

    <!-- Service Start -->
    <!--<div class="container-fluid service position-relative px-5 mt-5" style="margin-bottom: 135px;">-->
    <div class="container">
        <div class="row g-5">
           <div class="bg-primary border-inner text-center text-white p-5">
                    <!--<div class="col-lg-4 col-md-6">-->
                    <h2 class="text-secundary font-secondary">Conoce Nustras Jornadas de Castracion</h2>
                    <p>Las Jornadas se Realizan 2 veces por mes, en donde podras inscribirte para poder agendar uan citar para tu Compañero Peludo</p>
                    <img src="../assets/img/Castracion-perros-y-gatos-885x500.jpg" alt="." width="350" height="300">

                    <div class="container">
                            <!--<div class="container-fluid service position-relative px-5 mt-5" style="margin-bottom: 135px;">-->
                            <div class="row g-5">
                                <!--<div class="bg-primary border-inner text-center text-white p-5">
                                        <!--<div class="col-lg-4 col-md-6">-->
                                            <div class="text-center mt-15">
                                            <a href="" class="btn btn-primary border-inner py-3 px-5 me-5">Consultar</a>
                                        </div>
                </div>
            </div>
            <!--<div class="col-lg-4 col-md-6">-->
                        <!--<div class="bg-primary border-inner text-center text-white p-5">-->
                    <h2 class="text-secundary font-secondary">Control de salud</h2>
                    <p>Todos las mascotas tienen su control de Salud. Aqui podras ver la informacion de todo el historial de vacunas de  Tu Futura Mascota.</p>
                    <img src="../assets/img/salud mascotas.jpg" alt="." width="350" height="300">
                    <div class="container">
                            <!--<div class="container-fluid service position-relative px-5 mt-5" style="margin-bottom: 135px;">-->
                            <div class="row g-5">
                                <!--<div class="bg-primary border-inner text-center text-white p-5">
                                        <!--<div class="col-lg-4 col-md-6">-->
                                            <div class="text-center mt-15">
                                            <a href="" class="btn btn-primary border-inner py-3 px-5 me-5">Consultar</a>
                                        </div>
                </div>
            </div>

    <a href="#" class="btn btn-primary border-inner py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>