<div class="container">
    <form [formGroup]="form">
        <h2>Iniciar sesión</h2>
        <div class="input-group">
            <label for="username">Correo electrónico/usuario</label>
            <input formControlName="email" type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Contraseña</label>
            <input formControlName="password" type="password" id="password" name="password" required>
        </div>
        <button (click)="doLogin()">Iniciar sesión</button>
    </form>
</div>
