<div class="container">
      <h2>Registro de Mascota</h2>
      
      <div class="input-group">
        <label for="raza">Raza</label>
        <input type="text" id="raza" formControlName="raza" required>
      </div>
      
      <div class="input-group">
        <label for="edad">Edad</label>
        <input type="number" id="edad" formControlName="edad" required>
      </div>
      
      <div class="input-group">
        <label for="estado">Estado</label>
        <input type="text" id="estado" formControlName="estado" required>
      </div>
      
      <div class="input-group">
        <label for="foto">Foto</label>
        <input type="file" id="foto" (change)="RegistroComponent($event)" required>
      </div>
      
      <div class="input-group">
        <label for="informacion">Información</label>
        <textarea id="informacion" formControlName="informacion" required></textarea>
      </div>
      
      <div class="input-group">
        <label for="comentarios">Comentarios</label>
        <textarea id="comentarios" formControlName="comentarios" required></textarea>
      </div>
      
      <button type="submit" [disabled]="!registerPetForm.valid">Registrar Mascota</button>
  </div>
  