
 <div class="container">
    <form action="update_mascota.php" method="post" enctype="multipart/form-data">
        <h2>Editar Mascota</h2>

        <div class="input-group">
            <label for="nombre_mascota">Nombre:</label>
            <input type="text" id="nombre_mascota" name="nombre_mascota" required>
        </div>

        <div class="input-group">
            <label for="raza">Raza:</label>
            <input type="text" id="raza" name="raza" required>
        </div>

        <div class="input-group">
            <label for="edad">Edad:</label>
            <input type="text" id="edad" name="edad" required>
        </div>

        <div class="input-group">
            <label for="estado">Estado:</label>
            <select id="estado" name="estado" required>
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
            </select>
        </div>

        <div class="input-group">
            <label for="foto">Foto:</label>
            <input type="file" id="foto" name="foto">
        </div>

        <div class="input-group">
            <label for="informacion">Información:</label>
            <textarea id="informacion" name="informacion"></textarea>
        </div>

        <div class="input-group">
            <label for="comentarios">Comentarios:</label>
            <textarea id="comentarios" name="comentarios"></textarea>
        </div>

        <button type="submit">Actualizar Mascota</button>
    </form>
</div>

