body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 350px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #666;
    font-size: 14px;
}

/* Estilos ajustados para los campos de entrada y el textarea */
.input-group input[type="text"],
.input-group input[type="date"],
.input-group select,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
}

.input-group textarea {
    resize: none; /* Deshabilita el redimensionamiento del textarea */
    height: 100px; /* Altura fija para el textarea, quítala si quieres que sea igual al segundo CSS */
}

/* Estilos de botones ajustados para coincidir con el segundo CSS */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FF8C00; /* Cambiado a naranja oscuro */
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

button:hover {
    background-color: #E67600; /* Naranja más oscuro al pasar el ratón */
}
