<div class="container">
    <form [formGroup]="addVaccineForm">
        <h2>Registro de Vacunas</h2>
        <div class="input-group">
            <label for="nombre_vacuna">Nombre de la vacuna:</label>
            <input formControlName="name" type="text" id="nombre_vacuna" name="nombre_vacuna">
        </div>
        <div class="input-group">
            <label for="comentarios">Comentarios:</label>
            <textarea formControlName="comments" id="comentarios" name="comentarios"></textarea>
        </div>
        <button (click)="addVaccine()" >Registrar Vacuna</button>
    </form>
</div>
